<% if @user.errors.any? %>
        <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
    <% end %>